<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPT</title>
    <link rel="stylesheet" href="noticia_1.css">
</head>


<body>
    <header class="cabecalho">
        <div class="logocpt">
            <a href="cpt1.html"><img src="logocpt.png">
            </a>
        </div>
        <span class="logo_texto">CIÊNCIA</span>
        <section class="cabecalho_botoes">
            <div class="botao" id="noticias">Notícias</div>
            <div class="botao" id="startup">Startups</div>
            <div class="botao" id="portifolio">Portfólio</div>
            <div class="botao" id="fale_conosco">Fale conosco</div>
            <div class="cabecalho_flag">
                <div class="botao_flag"><img src="world.png"></div>
                <div class="botao_flag"><img src="flag.png"></div>
            </div>
        </section>
    </header>


    <main>
            <section class="noticia_principal">
                <div class="div_img">
                    <img src="noticia_1.jpg">
                </div>
                <div class="noticia_texto">
                    <span>texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto </span> 
            </section>
        

        <section class="conheca">
            <div class="circulo1"></div>
            <div class="circulo2"></div>
            <div class="texto_conheca">
                <span class="p1_conheca">Venha conhecer o</span>
                <span class="p2_conheca">Ciência para Todos</span>
                <span class="p3_conheca">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
                    deserunt.</span>
                <span class="p4_conheca">Agende sua Visita</span>
            </div>
        </section>
    </main>

    
        <footer class="footer">
            <div class="contato_fisico">
                <div class="telefone">
                    <img class="mao" src="mao.png">
                    <div class="textos1">
                        <p1 class="numero1">Estamos em:</p1>
                        <p2 class="numero2">+99 (999) 9999-9999</p2>
                    </div>
                </div>
                <div class="lugar"><img class="local" src="local.png"><span class="local_texto">Nosso espaço
                        físico</span>
                </div>
            </div>

            <div class="contato_online">
                <div class="img_foot"><img class="fb" src="fb.png">
                    <img class="ig" src="ig.png">
                    <img class="in" src="in.png">
                </div>
            </div>
        </footer>
        </class>



        <script src="noticia_1.js"></script>
</body>

</html>