  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

  a {
      text-decoration: none;
      color: inherit;
  }

  .zoom {
      transform: scale(1.5);
      transition: transform 0.3s ease;
  }

  .normal {
      transform: scale(1);
      transition: transform 0.3s ease;
  }

  .visivel {
      display: flex
  }

  .invisivel {
      display: none;
  }

.vis_ocupando{
    visibility: visible;
}

.inv_ocupando{
    visibility: hidden;
}

  a[href^="#"] {
      transition: 3s;
  }

  button[href^="#"] {
      transition: 3s;
  }

  html {
      scroll-behavior: smooth;
      transition: scroll-behavior 3s;
  }

  .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
  }

  body {
      margin: 0;
  }

  header {
      display: flex;
      width: 100%;
      height: 100%;
      background-color: white;
      box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.322);
      flex-wrap: nowrap;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      height: 120px;
      margin: 0px;
  }

  .logocpt {
      display: flex;
      align-items: center;
      margin-left: 7%;
      width: 20%;
      height: 100%;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      font-size: 30px;
      text-align: start;
  }

  .logoimg {
      height: 100%;
      width: auto;
  }

  .logoimg img {
      height: 100%;
      width: 100;
  }

  .cabecalho_botoes {
      display: flex;
      margin-right: 0px;
      margin-left: 30%;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      font-weight: 300;
      align-items: center;
  }

  .cabecalho_flag {
      margin-left: 0%;
      margin-right: 5%;
      display: flex;
      justify-content: space-between;

  }

  .botao_flag {
      margin: 4%;

  }

  .botao_flag img {
      width: 70%;
      height: auto;
      align-items: center;
      cursor: pointer;
  }

  .botao {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5px;
      width: 120px;
      height: 60px;
      border-radius: 25px;
  }

  .corPassar {
      background-color: rgba(0, 0, 0, 0.192);
  }

  .corClicar {
      background-color: rgba(0, 0, 0, 0.39)
  }




  .noticias {
      background-color: #0076b6cb;
      height: 650px;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .banner {
      height: 70%;
      width: 80%;
      display: flex;
      border-radius: 50px;
      background-size: cover;
      background-position: 20%;
  }

  .texto_noticia {
      color: white;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 7%;
      text-align:left;
      justify-content: center;
  }

  .titulo {
    font-size: 80px;
    font-family: Roboto;
    font-weight: 700;
    word-wrap: break-word;
    margin: 0;
    margin-top: 15%;
}

.texto {
    font-size: 32px;
    margin: 0;
    font-family: Roboto;
    font-weight: 300;
    word-wrap: break-word;
    margin-bottom: 5%;
}

.mais {
    color: white;
    font-style: italic;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 100;
    word-wrap: break-word;
    width: 12%;
    margin-bottom: 10%;
}

  .botao_proximo {
      display: flex;
      justify-content: center;
      width: 4%;
      height: 100%;
      align-items: center;
  }

  .botao_proximo img {
      cursor: pointer;
      height: auto;
      width: 100%;
  }

  .separacao_meio {
      display: flex;
      flex-direction: row;
      width: 100%;
  }

  .div_escura {
      background-color: rgba(0, 0, 0, 0.171);
  }



  .startup_pagina {
      width: 100%;
      height: 600px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .cor1_inicial{
    background-color: #F4E630;
  }
  
  .cor1{
    background-color: #F4E630;
    transition: 1s;
  }

  .cor2{
    background-color: #39B53E;
    transition: 1s;
  }

  .cor3{
    background-color: #143C5C;
    transition: 1s;
  }
  .upstartup {
      display: flex;
      height: 22%;
      width: 100%;
      align-items: center;
      text-align: center;
      flex-direction: column;
      margin-top: 2%;
      margin-bottom: 3%;
  }

  .titulo_startups {
      color: black;
      display: flex;
      font-size: 50px;
      font-family: Roboto;
      font-style: italic;
      font-weight: 600;
      word-wrap: break-word;
      justify-content: center;
  }

  .subtitulo_startups {
      color: #959595;
      font-size: 20px;
      font-family: Roboto;
      font-style: italic;
      font-weight: 300;
      word-wrap: break-word;
      margin-bottom: 15px;
  }

  .simbolo {
      position: relative;
      bottom: 36px;
      margin-left: 67%;
      display: flex;
      width: 9%;
      height: 15%;
      background: #0077B6;
      border-top-left-radius: 60px;
      border-bottom-right-radius: 60px
  }

  .botoes_st {
      display: flex;
  }

  .botoes_st img {
      width: 100%;
      height: 45px;
      margin-top: 1%;
      margin-right: 30px;
      margin-left: 30px;
  }



  .startup_logo {
      display: flex;
      flex-direction: row;
      margin-top: 5%;
      width: 100%;
  }

  .h1_st {
      color: #2D2D2D;
      font-size: 40px;
      font-family: Roboto;
      font-weight: 700;
      word-wrap: break-word
  }

  .h2_st {
      color: #2D2D2D;
      font-size: 20px;
      font-family: Roboto;
      font-weight: 300;
      word-wrap: break-word
  }

  .h3_st {
      color: #2D2D2D;
      font-size: 20px;
      font-family: Roboto;
      font-style: italic;
      font-weight: 400;
      text-decoration: underline;
      word-wrap: break-word
  }

  .caixa_logo {
      background: conic-gradient(from 108deg at -13.45% 61.63%, #0077B6 0deg, #005685 360deg);
      border-radius: 20px;
      width: 32%;
      height: 100%;
      margin-top: 1%;
      display: flex;
      margin-left: 8%;
  }

  .textos_logo {
      margin-left: 20%;
      display: flex;
      flex-direction: column;
      width: 30%;
  }

  .portfolio {
      background-image: url('../img/port3.png');
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      width: 100%;
      height: 600px;
      clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%);
      justify-content: flex-end;
      align-items: center;
  }

  .texto_pt {
      display: flex;
      margin-right: 2%;
      width: 40%;
      height: 25%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-left: 65%;
  }

  .texto1_pt {
      display: flex;
      color: white;
      font-size: 70px;
      font-family: Roboto;
      font-weight: 700;
      word-wrap: break-word;
  }

  .texto2_pt {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      width: 80%;
      height: 30%;
      color: white;
      font-size: 23px;
      font-family: Roboto;
      font-style: italic;
      font-weight: 400;
      word-wrap: break-word
  }


  .conheca {
      display: flex;
      width: 100%;
      height: 800px;
      background-color: 0000;
      align-items: center;
  }

  .circulo1 {
      position: relative;
      left: 10%;
      width: 30%;
      height: 45%;
      background-color: #0077B6;
      border-radius: 50%;
      z-index: 2;
  }

  .circulo2 {
      position: relative;
      width: 30%;
      height: 45%;
      background: #c0c0c0;
      border-radius: 50%;
      z-index: 1;
  }

  .texto_conheca {
      align-items: flex-start;
      flex-direction: column;
      display: flex;
      width: 39%;
      height: 60%;
      margin-left: 10%;
  }

  .p1_conheca {
      color: #2D2D2D;
      font-size: 35px;
      font-family: Roboto;
      font-weight: 700;
      word-wrap: break-word;
      margin-bottom: 2%;
  }

  .p2_conheca {
      color: #2D2D2D;
      font-size: 80px;
      font-family: Roboto;
      font-weight: 700;
      word-wrap: break-word;
      margin-bottom: 2%;
  }

  .p3_conheca {
      color: #2D2D2D;
      font-size: 32px;
      font-family: Roboto;
      font-weight: 300;
      word-wrap: break-word;
      margin-bottom: 2%;
  }

  .p4_conheca {
      color: white;
      font-size: 25px;
      font-family: Roboto;
      font-style: italic;
      font-weight: 400;
      word-wrap: break-word;
      background-color: #0077B6;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      width: 50%;
      height: 10%;
      margin-top: 10%;
  }



  /* VISITAS */


  .formulario_fundo {

      font-family: 'Roboto', sans-serif;
      width: 100%;
      height: 800px;
      background-color: transparent;
      display: none;
      flex-direction: column;
      align-items: center;
      top: 2000px;
      background-color: #0077B6;
  }

  .titulo1 {
      display: flex;
      justify-content: center;
      text-align: center;
      color: white;
      margin-top: 2%;
      margin-bottom: 0;
  }

  .titulo2 {
      display: flex;
      justify-content: center;
      text-align: center;
      color: white;
      margin: 1%;
  }

  .formulario {
      display: flex;
      background-color: rgb(255, 255, 255);
      width: 60%;
      height: 70%;
      flex-direction: column;
      margin: 0;
      box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.28);
      border-radius: 20px;
      text-align: justify;
      align-items: center;
      box-sizing: border-box;
      padding: 1% 5%;
  }

  .logodiv {
      display: flex;
      width: 100%;
      height: 15%;
      justify-content: center;
      align-items: center;
  }

  .logodiv img {
      display: flex;
      width: 15%;
      height: 90%;
  }

  fieldset {
      border: 0;
  }

  fieldset.nome {
      display: flex;

  }

  #nome {
      background-color: rgba(0, 0, 0, 0);
      border: 0;
      color: rgb(0, 0, 0);
      border-bottom: 1px solid rgba(0, 0, 0, 0.164);
      margin-bottom: 12px;
      width: 50%;
  }

  #sobrenome {
      background-color: rgba(0, 0, 0, 0);
      border: 0;
      color: rgb(0, 0, 0);
      border-bottom: 1px solid rgba(0, 0, 0, 0.164);
      margin-bottom: 12px;
      width: 50%;
  }

  #genero {
      text-align: justify;
  }

  .genero {
      text-align: justify;
      font-size: 15px;
      margin-bottom: 12px;
  }

  #email {
      display: flex;
      background-color: rgba(0, 0, 0, 0);
      border: 0;
      color: rgb(0, 0, 0);
      border-bottom: 1px solid rgba(0, 0, 0, 0.164);
      margin-bottom: 2%;
      width: 60%;
  }

  fieldset.fone {
      display: flex;
  }

  #fone {
      background-color: rgba(0, 0, 0, 0);
      border: 0;
      color: rgb(0, 0, 0);
      border-bottom: 1px solid rgba(0, 0, 0, 0.164);
      margin-bottom: 12px;
      width: 40%;
  }

  #ddd {
      background-color: rgba(0, 0, 0, 0);
      border: 0;
      color: rgb(0, 0, 0);
      border-bottom: 1px solid rgba(0, 0, 0, 0.164);
      margin-bottom: 12px;
      width: 9%;
  }



  #instituicao {
      background-color: rgba(0, 0, 0, 0);
      border: 0;
      color: rgb(0, 0, 0);
      border-bottom: 1px solid rgba(0, 0, 0, 0.164);
      margin-bottom: 12px;
      width: 50%;
      display: flex;
  }

  #checkbox {
      display: flex;
  }

  .cpt {
      text-align: justify;
      font-size: 15px;
      margin-bottom: 12px;
      display: flex;

  }

  #informacoes {
      width: 80%;
      height: 20%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.164);
      margin-bottom: 12px;
  }

  .exp {
      font-size: 15px;
      width: 100%;
      height: 15%;
      text-align: justify;
      font-weight: 900%;
  }

  #informacoes {
      width: 100%;
      height: 50px;
  }

  .botao_form {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      border: 0%;
      border-color: black;

      background-color: #95b4c567;
      border-radius: 10px;
      height: 10%;
      width: 20%;
  }

  input::placeholder {
      color: #9c9c9c;
  }

  /* Estilo da div do grupo de formulários */
  .form-group {
      position: relative;
      margin-bottom: 20px;
  }

  /* Estilo do rótulo flutuante */
  .floating-label {
      position: absolute;
      left: 10px;
      top: 20px;
      transition: 0.2s ease all;
      font-size: 12px;
      color: #000000;
      pointer-events: none;
  }

  /* Estilo do campo de entrada */
  .form-group input {
      border: 1px solid rgba(0, 0, 0, 0.164);
      padding: 10px;
      width: 100%;
      outline: none;
  }

  /* Estilo do campo de entrada quando focado ou com valor */
  .form-group input:focus+.floating-label {
      top: -10px;
      font-size: 12px;
      color: #000000;
  }



  /* FIM VISITAS */


  .foot {
      display: flex;
      height: 300px;
      width: 100%;
  }

  .footer {
      background-color: #0077B6;
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: row;
      align-items: center;
      align-content: center;
  }

  .contato_fisico {
      margin-left: 5%;
      display: flex;
      width: 75%;
      height: 100%;
      flex-direction: column;
  }

  .mao {
      margin-left: 5%;
      margin-right: 5%;
      width: 20%;
      height: 100%;
  }

  .telefone {
      display: flex;
      width: 45%;
      height: 20%;
      margin-bottom: 2%;
      margin-top: 10%;
  }

  .textos1 {
      display: flex;
      flex-direction: column;
  }

  .numero1 {
      color: black;
      font-size: 24px;
      font-family: Roboto;
      font-weight: 400;
      word-wrap: break-word
  }

  .numero2 {
      color: black;
      font-size: 25px;
      font-family: Roboto;
      font-weight: 500;
      word-wrap: break-word
  }

  .lugar img {
      width: 10%;
      height: 80%;
  }

  .local_texto {
      color: black;
      font-size: 16px;
      font-family: Roboto;
      font-weight: 600;
      word-wrap: break-word;
      margin-left: 5%;
  }

  .lugar {
      padding-left: 4%;
      display: flex;
      width: 50%;
      margin-top: 5%;
      height: 15%;
      align-items: center;

  }


  .contato_online {
      display: flex;
      width: 40%;
      height: 80%;
      align-items: center;
      justify-items: end;
      justify-content: space-around;
  }

  .img_foot img {

      width: 17%;
      height: 20%;
      margin: 6%;
  }