@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

*{
    margin:0;
    padding: 0;
}
input::placeholder {
    color: #9c9c9c; 
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
/* Estilo da div do grupo de formulários */
.form-group {
    position: relative;
    margin-bottom: 20px;
}

/* Estilo do rótulo flutuante */
.floating-label {
    position: absolute;
    left: 10px;
    top: 20px;
    transition: 0.2s ease all;
    font-size: 12px;
    color: #000000;
    pointer-events: none;
}

/* Estilo do campo de entrada */
.form-group input {
    border: 1px solid rgba(0, 0, 0, 0.164);
    padding: 10px;
    width: 100%;
    outline: none;
}

/* Estilo do campo de entrada quando focado ou com valor */
.form-group input:focus + .floating-label, .form-group input:valid + .floating-label {
    top: -10px;
    font-size: 12px;
    color: #000000;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 600px;
    background-color: #0076b6cb;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;

}

.titulo1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top:3%;
}
.titulo2{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;

}
.pop {
    display: none;
    background-color: rgb(255, 255, 255);
    width: 40%;
    height: 500px;
    flex-direction: column;
    margin: 0;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.28);
    border-radius: 20px;
    text-align: justify;
    align-items: center;
    box-sizing: border-box;
    padding: 1% 5%;
}

.logodiv {
    display: flex;
    width: 100%;
    height: 15%;
    margin-bottom: 5%;
    justify-content: center;
    align-items: center;
}

.logodiv img{
    display: flex;
    width: 20%;
    height: 100%;
}

fieldset{
    border:0;
}

#nome{
    background-color: rgba(0, 0, 0, 0);
    border:0;
    color:rgb(0, 0, 0);
    border-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    margin-bottom: 12px;
    width: 49%;
}
#sobrenome{
    background-color: rgba(0, 0, 0, 0);
    border:0;
    color:rgb(0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    margin-bottom: 12px;
    width:49%;
}

#genero{
    text-align: justify;
}
.genero{
    text-align: justify;
    font-size: 15px;
    margin-bottom: 12px;
}

#email{
    background-color: rgba(0, 0, 0, 0);
    border:0;
    color:rgb(0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    margin-bottom: 12px;
    width: 100%;
}

#fone{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    color:rgb(0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    margin-bottom: 12px;
    width: 90%;
}

#ddd{
    background-color: rgba(0, 0, 0, 0);
    border:0;
    color:rgb(0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    margin-bottom: 12px;
    width: 9%;
}

#instituicao{
    background-color: rgba(0, 0, 0, 0);
    border:0;
    color:rgb(0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    margin-bottom: 12px;
}

.cpt{
    border:0;
    margin-bottom: 12px;
    font-size: 15px;
}
#informacoes{
    width: 80%;
    height: 20%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    margin-bottom: 12px;
}
.exp{
    font-size: 15px;
    width: 100%;
    height: 15%;
    text-align: justify;
    font-weight: 900%;
}
#informacoes{
    width: 100%;
    height: 50px;
}
.botao{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    border: 0%;
    border-color: black;

    background-color:#95b4c567;
    border-radius: 10px;
    height: 10%;
    width: 20%;
}


