<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cpt1.css') }}">
</head>

<body>
    <header>
        <section class="logocpt">
            <div class="logoimg"><a href="{{ url_for('index') }}"><img
                        src="{{ url_for('static', filename='img/logocpt.png') }}" alt="Logo CPT"></a>
            </div>
            <div class="logo_texto">
                CIÊNCIA
            </div>
        </section>
        <section class="cabecalho_botoes">
            <div class="botao" id="noticias">Notícias</div>
            <div class="botao" id="startup">Startups</div>
            <div class="botao" id="portifolio">Portfólio</div>
            <div class="botao" id="fale_conosco">Fale conosco</div>
            <div class="cabecalho_flag">
                <div class="botao_flag"><img src="{{ url_for('static', filename='img/world.png') }}"></div>
                <div class="botao_flag"><img src="{{ url_for('static', filename='img/flag.png') }}"></div>
            </div>
        </section>
    </header>

    <main>
        <section class="noticias">
            <section class="banner" id="noticias_div">
                <div class="separacao_meio">
                    <div class="texto_noticia">
                            <h1 class="titulo">TITULO</h1>
                            <h2 class="texto">Aqui vai descrição da notícia</h2>
                            <h3 class="mais"><a href="{{ url_for('noticia_1') }}">Saiba mais</a>
                    </div>
                    <div class="botao_proximo">
                        <img id="botao_proximo" src="{{ url_for('static', filename='img/seta.png') }}">
                    </div>
                </div>
            </section>
        </section>


        <section class="startup_pagina" id="startups">
            <section class="upstartup">
                <div class="texto_startup">
                    <div class="titulo_startups">Startups</div>
                    <div class="simbolo"></div>
                    <div class="subtitulo_startups">Conheça um pouco das nossas conquistas e ambições</div>
                    <div class="botoes_st">
                        <img id="logo_1" src="{{ url_for('static', filename='img/exlogo2.png') }}">
                        <img id="logo_2" src="{{ url_for('static', filename='img/exlogo2.png') }}">
                        <img id="logo_3" src="{{ url_for('static', filename='img/exlogo2.png') }}">
                    </div>
                </div>
            </section>
            <section class="startup_logo">
                <div class="textos_logo">
                    <h1 class="h1_st">STARTUP</h1>
                    <h2 class="h2_st">Lorem ipsum dolor sit amet consectetur adipisicing elit. At repellendus
                        exercitationem beatae.</h2>
                    <h3 class="h3_st">Saiba Mais</h3>
                </div>
                <div class="caixa_logo"></div>
            </section>
        </section>


        <section class="portfolio">
            <div class="texto_pt">
                <span class="texto1_pt">Portfólio</span>
                <span class="texto2_pt">Conheça nossos trabalhos</span>
            </div>
        </section>

        <section class="conheca">
            <div class="circulo1"></div>
            <div class="circulo2"></div>
            <div class="texto_conheca">
                <span class="p1_conheca">Venha conhecer o</span>
                <span class="p2_conheca">Ciência para Todos</span>
                <span class="p3_conheca">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
                    deserunt.</span>
                <span class="p4_conheca" id="conheca"><a href="#formulario">Agende sua Visita</a></span>
            </div>
        </section>

        <section class="formulario_fundo" id="formulario">

            <h1 class="titulo1">Cadastro para visitação</h1>
            <p class="titulo2">Nos conte um pouco sobre você ou o grupo de pessoas que deseja nos visitar!</p>
            <br>

            <div class="formulario">
                <form>
                    <div class="logodiv">
                        <img src="{{ url_for('static', filename='img/logocpt.png') }}">
                    </div>

                    <fieldset class="nome">
                        <div class="form-group">
                            <input type="text" name="nome" id="nome" required>
                            <label for="nome" class="floating-label">Nome</label>
                        </div>
                        <div class="form-group">
                            <input type="text" name="sobrenome" id="sobrenome" required>
                            <label for="sobrenome" class="floating-label">Sobrenome</label>
                        </div>
                    </fieldset>


                    <div class="genero">
                        <label>Gênero: </label>
                        <label>
                            <input type="radio" name="genero" value="h">Homem
                        </label>
                        <label>
                            <input type="radio" name="genero" value="m">Mulher
                        </label>
                        <label>
                            <input type="radio" name="genero" value="g_outros">Outros
                        </label>
                        <label>
                            <input type="radio" name="genero" value="g_ni">Prefiro não informar
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="sr-only">E-mail</label>
                        <input type="email" name="email" id="email" required>
                        <label for="email" class="floating-label">E-mail</label>
                    </div>

                    <fieldset class="fone">
                        <div class="form-group">
                            <label class="sr-only">DDD</label>
                            <input type="tel" name="ddd" id="ddd" required>
                            <label for="ddd" class="floating-label">DDD</label>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Telefone</label>
                            <input type="tel" name="fone" id="fone" required>
                            <label for="fone" class="floating-label">Telefone</label>
                        </div>
                    </fieldset>


                    <div class="form-group">
                        <label class="sr-only">Instituição</label>
                        <input type="text" name="instituicao" id="instituicao">
                        <label for="instituicao" class="floating-label">Instituição</label>
                    </div>


                    <div class="cpt">
                        <label>Por onde você conheceu o Projeto CPT?<br></label>
                        <input type="checkbox" id="por_rede" name="por_rede" value="rede">
                        <label for="por_rede">Redes sociais</label>
                        <input type="checkbox" id="por_folheto" name="por_folheto" value="folheto">
                        <label for="por_folheto">Folheto/cartaz/revista</label>
                        <input type="checkbox" id="por_amigo" name="por_amigo" value="amigo">
                        <label for="por_amigo">Amigos</label>
                        <input type="checkbox" id="por_outros" name="por_outros" value="outros">
                        <label for="por_rede">Outros</label>
                    </div>
                    <div class="exp">
                        <label>Conte-nos um pouco sobre seu interesse em nos visitar para que possamos lhe proporcionar
                            uma
                            experiência personalizada:</label><br>
                        <textarea rows="10" id="informacoes" name="informacoes"></textarea>
                    </div>
                </form>
                <button type="submit" class="botao_form" id="botao_form"> <a href="#conheca"></a>Concluído</a></button>
            </div>
        </section>

    </main>

    <div class="foot">
        <footer class="footer">
            <div class="contato_fisico">
                <div class="telefone">
                    <img class="mao" src="{{ url_for('static', filename='img/mao.png') }}">
                    <div class="textos1">
                        <p1 class="numero1">Estamos em:</p1>
                        <p2 class="numero2">+99 (999) 9999-9999</p2>
                    </div>
                </div>
                <div class="lugar"><img class="local" src="{{ url_for('static', filename='img/local.png') }}"><span
                        class="local_texto">Nosso espaço físico</span></div>
            </div>

            <div class="contato_online">
                <div class="img_foot"><img class="fb" src="{{ url_for('static', filename='img/fb.png') }}">
                    <img class="ig" src="{{ url_for('static', filename='img/ig.png') }}">
                    <img class="in" src="{{ url_for('static', filename='img/in.png') }}">
                </div>
            </div>
        </footer>
    </div>

    <script src="{{ url_for('static', filename='js/cpt1.js') }}"></script>
</body>

</html>