@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

.border {
  border-bottom: solid #2D2D2D;
  border-width: 1px;
}

* {
  margin: 0;
  padding: 0;
}

.fundoescuro{
  background-color: #a6a6a693;
}

.zoom{
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in;
  transform:  scale(200%);
}

h1 {
  font-size: initial;
  /* Define o tamanho da fonte como o valor inicial */
  font-weight: initial;
  /* Define o peso da fonte como o valor inicial */
  margin: 0;
  /* Remove margens */
  padding: 0;
}

.header {
  display: flex;
  width: 100%;
  height: 105px;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.10);
}

.h-esquerdo {
  display: flex;
  align-items: center;
  padding-left: 80px;
  flex-direction: row;
  width: 30%;
}

.h-esquerdo img {
  height: 100%;
}

.h-texto {
  display: flex;
  color: black;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 900;
  word-wrap: break-word;
  flex-direction: row;
}

.h-a {
  color: #FEDF01;
  font-size: 40px;
  font-family: Roboto;
  font-weight: 900;
  word-wrap: break-word;
  transform: rotate(180deg);
  width: 30%;
}

.barras{
  display: none;
}


.h-direito {
  display: flex;
  color: black;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 300;
  word-wrap: break-word;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  padding-right: 80px;
}

.h-direito a {
  display: flex;
  margin: 0 4% 0 4%;
  height: 70%;
  width: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 20%;
}

.h-direito a:hover {
  background-color: #a6a6a693;
}

.h-direito img {
  margin: 0%;
}

.news {
  display: flex;
  width: 100%;
  height: 600px;
  background-color: #f0eff43a;
  align-items: center;
  justify-content: center;
}

.news-main {
  display: flex;
  width: 85%;
  height: 70%;
  background-color: #00a083;
  transition: 0.3s ease-in-out;
  border-radius: 40px;
  flex-direction: row;
}

.news-main:hover{
  background-color: #00dbb3;
}

.news-colum {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: end;
}

.seta1,
.seta2 {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.seta1 img,
.seta2 img {
  width: 100%;
  height: 10%;
}

.seta1 {
  transform: rotate(180deg);
}


.news-main h1 {
  color: white;
  font-size: 80px;
  font-family: Roboto;
  font-weight: 700;
  word-wrap: break-word;
}

.news-main h2 {
  color: white;
  font-size: 32px;
  font-family: Roboto;
  font-weight: 300;
  word-wrap: break-word;
}

.news-main h3 {
  color: white;
  font-size: 20px;
  font-style: italic;
  font-family: Roboto;
  font-weight: 300;
  word-wrap: break-word;
  margin-top: 5%;
}

.news-texto {
  padding-left: 5%;
}

.contadores {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  margin-top: 5%;
}

.contador {
  width: 1%;
  height: 25%;
  margin: 0 10px 10px 10px;
  background: white;
  border-radius: 9999px;
}

.startups {
  display: flex;
  width: 100%;
  height: 720px;
  background-color: white;
  flex-direction: column;
}

.st1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 20%;
}

.st1-1 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}

.st1 h1 {
  color: black;
  font-size: 60px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 600;
  word-wrap: break-word;
}

.st1red {
  display: flex;
  width: 3%;
  height: 25%;
}

.st1red img {
  width: 100%;
  height: 100%;
}

.st1 h2 {
  color: #959595;
  font-size: 25px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  word-wrap: break-word
}

.st2 {
  display: flex;
  width: 100%;
  height: 20%;
  align-items: center;
  justify-content: center;
}

.logo-s {
  display: flex;
  width: 15%;
  height: 45%;
  margin-right: 2%;
  margin-left: 2%;
}
.logo-s {
  transition: transform 0.3s ease-in-out; /* Adicione a propriedade transition */
  transform: scale(1); /* Defina a escala padrão */
}

.logo-s:hover {
  transform: scale(1.5); /* Escala quando o elemento é hover */
}

.logos img {
  width: 100%;
  height: 100%;
}

.st3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  justify-content: center;
}

.st3-esq {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-right: 4%;
  margin-left: 3%;
}

.st3 h1 {
  color: #2D2D2D;
  font-size: 60px;
  font-family: Roboto;
  font-weight: 700;
  word-wrap: break-word
}

.st3 h2 {
  color: #2D2D2D;
  font-size: 25px;
  font-family: Roboto;
  font-weight: 300;
  word-wrap: break-word;
  margin-top: 5%;
  margin-bottom: 7%;
}

.st3 h3 {
  color: #2D2D2D;
  font-size: 20px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  text-decoration: underline;
  word-wrap: break-word
}

.st3-dir {
  display: flex;
  width: 45%;
  background: linear-gradient(to right, #E81313, #470505);
  align-items: center;
  justify-content: right;
  border-radius: 5%;
}

.st3 .contador {
  background: #A6A6A6;
  width: 2%;
  height: 22%;
}

.portfolio {
  display: flex;
  width: 100%;
  height: 720px;
  background-image: url("/public/port.jpg");
  background-size: cover;
  clip-path: polygon(100% 10%, 0% 20%, 0% 90%, 100% 100%);
}

.port-fundo {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: end;
  justify-content: right;
  background: linear-gradient(0deg, rgba(112, 87, 20, 0.253) 0%, rgba(112, 87, 20, 0.274) 100%);
}

.port-text {
  display: flex;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.port-text h1 {
  color: white;
  font-size: 80px;
  font-family: Roboto;
  font-weight: 700;
  word-wrap: break-word;
}

.port-text h2 {
  width: 70%;
  height: 8%;
  color: white;
  font-size: 36px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  word-wrap: break-word;
  background-color: #2D2D2D;
  background: linear-gradient(109deg, #31E813 0%, #0D632F 100%, #5CC172 100%, #470505 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.conheca {
  display: flex;
  width: 100%;
  height: 720px;
  flex-direction: row;
  justify-content: center;
}

.conheca-esq {
  display: flex;
  position: relative;
  width: 90%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-right: 5%;
}

.conheca-img1 {
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 2;
  left: 15%;
}

.conheca-img2 {
  position: absolute;
  width: 50%;
  height: 50%;
  left: 50%;
}

.conheca-img1 img {
  width: 100%;
}

.conheca-img2 img {
  width: 90%;
}

.conheca-dir {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.conheca-dir h1 {
  color: #2D2D2D;
  font-size: 80px;
  font-family: Roboto;
  font-weight: 700;
  word-wrap: break-word;
}

.conheca-dir h2 {
  color: #2D2D2D;
  font-size: 32px;
  font-family: Roboto;
  font-weight: 500;
  word-wrap: break-word;
}

.conheca-dir h3 {
  color: #2D2D2D;
  font-size: 32px;
  font-family: Roboto;
  font-weight: 300;
  word-wrap: break-word;
  margin-bottom: 5%;
}

.conheca-dir button {
  color: white;
  font-size: 30px;
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  word-wrap: break-word;
  background: linear-gradient(102deg, #1342E8 0%, #04D2AD 100%);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  width: 50%;
  height: 8%;
  border: 0;
}

.footer {
  display: flex;
  width: 100%;
  height: 300px;
  background-color: #04D2AD;
  flex-direction: row;
}

.footer-esq {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  justify-content: center;
  margin-left: 5%;
}

.fone {
  display: flex;
  margin-bottom: 5%;
}

.fone h2 {
  color: black;
  font-size: 27px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word
}

.fone h3 {
  color: black;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word
}

.fone img {
  width: 10%;
}

.place {
  display: flex;
  align-items: center;
}

.place img {
  width: 10%;
}

.place span {
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word
}


.footer-dir {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.redes-img {
  display: flex;
  height: 40%;
  width: 50%;
  justify-content: space-between;
}

.redes-img img {
  width: 33%;
}

.redes-text h1{
  font-size: 25px;
  font-family: Roboto;
  font-weight: 400;
  word-wrap: break-word
}

.redes-text span {
  color: white;
}

@media (max-width: 720px) {
  
  .h-direito{
    display: none;
  }

  .h-esquerdo{
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .barras{
    display: flex;
    width: 10%;
    height: 50%;
  }
}